.wrapper
  .content
    .section
      .section-inner
        .article
          %h2
            Page not found.
            %span.error-type
              (404)

          %p
            The page you were looking for could no be found.
            %br
            %br
            = link_to 'Go to start page', '/', class: 'btn', title: ''
            %br
            %br

