= link_to '/', title: 'Go to start page', class: 'logo' do
  = image_tag '404.jpg'

.wrapper
  .content
    .section
      .section-inner
        .article
          %h2
            Page not found.

          %p
            The page you were looking for could no be found.
            %br
            %br
            = link_to 'Go to start page', '/'
            %br
            %br

