.wrapper
  .content
    .section
      .section-inner
        .article
          %h2
            Looks like something went wrong!
            %span.error-type
              (500)

          %p
            We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.
            %br
            %br
            = link_to 'Go to start page', '/', class: 'btn', title: ''
            %br
            %br
