.wrapper
  .content
    .section
      .section-inner
        .article
          %h2
            What?
            %span.error-type
              (422)

          %p
            Your browser did something unexpected. Please contact us if the problem persists.
            %br
            %br
            = link_to 'Go to start page', '/', class: 'btn', title: ''
            %br
            %br
