= link_to '/', title: 'Go to start page', class: 'logo' do
  = image_tag '422.jpg'

.wrapper
  .content
    .section
      .section-inner
        .article
          %h2
            What?

          %p
            Your browser did something unexpected. Please contact us if the problem persists.
            %br
            %br
            = link_to 'Go to start page', '/'
            %br
            %br
